{{#each polls as |poll|}}
  <div data-id="{{user.id}}">
    <h3 class="id">Poll ID: {{poll.id}}</h3>
    <h3 class="title">{{poll.title}}</h3>
    <p class="options">{{poll.option1}}</p>
      <p> OR </p>
      <p class="option2">{{poll.option2}}</p>
      <p> _____________________</p>
  </div>
{{/each}}
